{% extends 'base.html.twig' %}

{% block body %}
        <p>Evaluación de pila de desarrollo Symfony</p>
        <p>Autores: Manuel Navas Damas y Manuel David García Cárdenas</p>
        <p>Detalles de la pila: Symfony, PHP7.2, nginx, sqlite3</p>
        <p>EJEMPLOS</p>
        <ol>
            <li><a href="{{path('validacion')}}">Validación</a></li>
            <li><a href="{{path('inyeccion')}}">Inyección SQL</a></li>
            <li><a href="{{path('xss')}}">XSS</a></li>
        </ol>
{% endblock %}
