{% extends 'base.html.twig' %}

{% block body %}

    <p><a href="{{path('homepage')}}">Volver al listado</a></p>
    {{ form_start(form) }}
    {{ form_label(form.id) }}
    {{ form_widget(form.id) }}
    {{ form_end(form) }}
    <p>
        Todos los datos<br>
        {% if todosLosDatos is empty %}
            No hay datos
        {% else %}
            {% for dato in todosLosDatos %}
                {{ dato.id }} - {{ dato.nombre }} - {{ dato.email }} - {{ dato.telefono }}<br>
            {% endfor %}
        {% endif %}
    </p>
{% endblock %}