{% extends 'base.html.twig' %}

{% block body %}

    <p><a href="{{path('homepage')}}">Volver al listado</a></p>
    
    {{ form_start(form) }}
    {{ form_label(form.nombre) }}
    {{ form_widget(form.nombre) }}
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    {{ form_label(form.telefono) }}
    {{ form_widget(form.telefono) }}
    {{ form_end(form) }}

    <p>
        Todos los datos<br>
        {% if todosLosDatos is empty %}
            No hay datos
        {% else %}
            {% for dato in todosLosDatos %}
                {{ loop.index0 }} - {{ dato.nombre }} - {{ dato.email }} - {{ dato.telefono }}<br>
            {% endfor %}
        {% endif %}
    </p>
{% endblock %}