{% extends 'base.html.twig' %}

{% block body %}
    <p><a href="{{path('homepage')}}">Volver al listado</a></p>

    <p>
        {{ form_start(form) }}
        {{ form_label(form.id) }}
        {{ form_widget(form.id) }}
        {{ form_end(form) }}
    </p>
    <p>
        Todos los datos<br>
        {% if todosLosDatos is empty %}
            No hay datos
        {% else %}
            {% if debeEjecutarse %}
                El id seleccionado es {{todosLosDatos.id | raw}}
            {% else %}
                El id seleccionado es {{todosLosDatos.id | striptags}}
            {% endif %}
        {% endif %}
    </p>
{% endblock %}